* {
  color: rgb(42, 42, 42);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 150px);
  padding: 80px 10%;
}

.contentText {
  padding: 150px 0;
  max-width: 50%;
  word-wrap: break-word;
}

.contentText h1 {
  color: rgb(231, 103, 141);
  font-size: 100px;
}

.contentText p {
  color: rgb(231, 103, 141);
  font-size: 25px;
  margin-bottom: 20px;

.contentText button {
  color: rgb(231, 103, 141);
  font-size: 20px;
  height: 40px;
  width: 98%;
  background: rgba(187, 176, 194, 0.232);
  border-radius: 8px;
}

.contentDivImage {
  width: 50%;
  height: 600px;
  object-fit: contain;
}

.contentImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 12px 24px;
  background: rgba($color: #6e5b8623, $alpha: 1);
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1300px) {
  .contentText h1 {
    font-size: 80px;
  }
}
@media (max-width: 1000px) {
  .container {
    overflow: auto;
  }

  .content {
    flex-direction: column;
    padding: 0px 10%;
  }

  .contentText {
    padding: 70px 0;
    max-width: 100%;
  }

  .contentDivImage {
    width: 100%;
    height: 450px;
  }

  .contentText button {
    width: 100%;
  }

  .contentText h1 {
    font-size: 100px;
  }
}

@media (max-width: 600px) {
  .contentText h1 {
    font-size: 76px;
  }
}

@media (max-width: 450px) {
  .content {
    padding: 0px 10%;
  }

  .contentText {
    padding: 70px 0;
  }

  .contentText h1 {
    font-size: 50px;
  }

  .contentText p {
    font-size: 20px;
  }

  .contentDivImage {
    width: 100%;
    height: 300px;
  }

  .contentText button {
    width: 100%;
  }
}
